body {
    font-family: Arial;
    background: #f3f3f3;
}

.box {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input {
    width: 200px;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    padding-left: 18px;
}
